@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

div.header-1{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 4px 60px 4px 90px;
}

div.header-1 nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

div.header-2, p.tit-comedero{
    background-color: #F0A83E;
    color:white;
}

div.header-2{
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}

div.header-2 nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

main section.sec-imagen{
    background-image: url("../img/bowl.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.sec-imagen div{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
}

main section.sec-imagen div p.titulo{
    background: white;
    color:#3C2313;
    font-weight: lighter;
    font-size: 30px;
    padding: 10px 0px;
}

main section.sec-imagen div p.tit-comedero{
    width: 150px;
    text-align: center;
    padding: 15px 0px;
}

main section.sec-opciones{
    height: 150px;
    padding: 25px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section.sec-opciones img{
    align-self: center;
}
main section.sec-opciones p.prod-dest{
    color:#3C2313;
    font-size: 40px;
    font-weight: 700;
}

main section.sec-opciones p.options{
    color:#666666;
}

main section.product-list{
    padding: 40px 150px;
    display: flex;
    justify-content: space-around;
}

.product{
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info{
    color:#3C2313;
    font-weight: 500;
    text-align: center;
}

.product-price{
    color:#F0A83E;
    font-weight: 500;
    text-align: center;
}

footer section.info{
    background-color: #3C2313;
}

footer section p.item-title{
    color:white;
    font-size: 23px;
    font-weight: bold;
}

footer section p.item-info{
    color:#666666;
}

footer section.derechos{
    background-color: #F0A83E;;
    color:white;
    text-align: center;
}

@media (max-width: 1105px){

    main section.product-list{
        height: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}